<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%datos.forEach(function(datos) {%>
        <h1>Hola doctor <%=datos.nombre%> <%=datos.apellido%> <%=datos.documento%></h1>
    <%})%>
    <form action="/foto" method="post" enctype="multipart/form-data">
        <%for(i=0;i<1;i++){%>
        <input type="text" value="<%=datos[i].documento%>" name="documentodoc">
        <input type="text" value="<%=datos[i].firma%>">
        <%}%>
        <input type="number" placeholder="documento paciente" name="documentopac" >
        <input type="file" placeholder="Archivo" name="firma" multiple>
        <button type="submit" name="Subir">validar firma</button>
        <label for="">¿Verificado?<input type="checkbox" readonly name="verificado"></label>
        <input type="file" name="historia" multiple >

    </form>
</body>
</html>