<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/filtro.css">
    <title>Filtrar</title>
</head>
<body>
    <header>
        <nav class="lista">
            <li class="objeto"><a href="/iniciasesion" class="link">Login</a></li>
            <li class="objeto"><a href="" class="link">Quienes somos</a></li>
            <li class="objeto"><a href="" class="link">Contactos</a></li>
        </nav>
        <%datos.forEach( function (datos) {%>
            <a href="/cerrar" class="cerrar"><%=datos.nombred%> <%=datos.apellidod%></a>
        <%})%>
    </header>
    <div class="fondo">
    <form action="" class="filtro" method="post">
        <input type="text" class="info-filtro" placeholder="Nombre del paciente">
        <input type="date" class="info-filtro-fecha">
    </form>
    <table class="tabla">
        <thead class="tr_head">
            <tr>
                <th>Doctor</th>
                <th>Paciente</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
           <% datos.forEach(function (datos){ %>
            <tr class="resu">
                <td><input type="text" value="<%=datos.nombred%> <%=datos.apellidod%>" name="nombre" id="nombre" class="info-filtro"></td>
                <td><input type="text" value="<%=datos.nombre%>" name="nombre_paciente" id="nombre_paciente" class="info-filtro"></td>
                <td><input type="text" value="<%=datos.fecha%>" name="fecha" id="fecha" class="info-filtro"></td>
                <td><a href="/generamipdf"></a></td>
            </tr>
         <%})%>
        </tbody>
    </table>
</div>
</body>
</html>