<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/pdf.css">
    <title>Historia Clinica</title>
</head>
<header>
    <nav class="lista">
        <li class="objeto"><a href="/iniciasesion" class="link">Flitrar</a></li>
        <li class="objeto"><a href="" class="link">Ingresar historia clinica</a></li>
        <li class="objeto"><a href="" class="link">Contactos</a></li>
    </nav>
</header>
<body>
    <div class="cont">
    <% datos.forEach(function (datos){ %>

        <p><%=datos.nombre%></p>
        <p><%=datos.id_paciente%></p>
        <p><%=datos.direccion%></p>
        <p><%=datos.fecha%></p>
        <p><%=datos.historia%></p>
        <%})%>
    </div>
</body>
</html>